@model Phase_4_Project_WDB.Models.Pizza_Records;

@{
    ViewData["Title"] = "Details";
}

<h1>Laptop Specs</h1>

<div>
    <h4> Pizza Details </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaImage)
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.LaptopImage)*@
            <img src="@Model.PizzaImage" height="100px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
